.container {
    width: 65%;
    margin: 0 auto;
    margin-top: 180px;
  }

  @media screen and (min-width: 320px) {
    .container {
      width: 100%;
      margin-top: 190px;
    }
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: 90%;
    }
  }
  @media screen and (min-width: 1500px) {
    .container {
      width: 75%;
    }
  }
  @media screen and (min-width: 1600px) {
    .container {
      width: 65%;
    }
  }