.mainContainer {
    width: 100%;
    display:grid;
    justify-content:center;
    grid-column-gap:30px;
    padding:0 25px 0 25px;
    background-color: #fff;
  }

  @media screen and (min-width:576px) {
    .mainContainer {
      grid-template-columns: repeat(2,auto);
  }
}
  @media screen and (min-width:992px) {
    .mainContainer {
      grid-template-columns: repeat(3,auto);
  }
}