.pageName {
    margin-left: 17px;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-variant: small-caps;
  }
  .pageName .enhance {
    font-variant: small-caps;
    font-size: 1rem;
  }
  .homeHr {
    border-width: 0.5px;
    margin-bottom: 15px;
  }
   
    /* =====LOCAL STYLES Media Queries===== */
  
  @media screen and (min-width: 320px) {
    .homeHr{
      width: 90%;
    }
  }
  @media screen and (min-width: 576px) {
    .homeHr {
      width: 96%;
    }
  }